.storiesWrapper {
    margin: 0 auto;
    width: 84%;
    background-color: #F6F6EF;
    padding: 5px 0 0 5px;
}

.storyLink {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #000000;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.storyDetails {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 7pt;
    color: #828282;
    margin: 0;
    padding: 0;
}